$grey: #707682;
$light: #EBE8E5;
$maroon: #74484E;
$maroon1:#90676D;
$maroon2: #5C2E35;
$dark: #2B2D32;
$peach: #C99288;
$ibm-plex: 'IBM Plex Sans', sans-serif;

html, body { 
    width: 100%;
    height: 100%;
    background-color: $light;
    font-family: $ibm-plex;
    overflow-x: hidden; // hide horizontal
}

body {
    margin: 0px;
    height: auto;
}

.breadcrumbs {
    a {
        display:inline-block;
        padding:4px;
        color: $dark;
    }
    p {
        display: inline-block;
        padding: 4px;
        color: $dark;
    }
}

.page {
    width: 100%;
    max-width: 800px;
    margin: 16px auto;
    min-height: 100%;
    height: auto;
    .wrapper {
        max-width: 800px;
        width: 100%;
        height: auto;
        display:block;
    }
}

.top {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.paragraph-wrapper {
    width: 100%;
    max-width: 800;
    position: relative;
    clear:both
}
.paragraph-right {
    width: 600px;
    margin: 16px 0px;
    display: block;
    right:0;
    float:right;
    p {
        line-height: 24px;
    }

}

.paragraph {
    width: 600px;
    margin: 32px 0px;
    display: block;
    p {
        line-height: 24px;
    }
}

h1 {
    font-size: 32px;
    font-weight: 200;
    text-align: center;
}

h2 {
    color: $light;
    font-weight: 500;
    font-size: 22px;
}

h3 {

}


.video {
    margin: auto;
    text-align: center;

    video {
        max-width: 800px;
        width: 100%;
        height: auto;
    }
}

img {
    width: 100%; 
    display: block;
    max-width: 800px;
}
.header {
    background: url("https://lemotohaiti.com/images/flora_trans.png");
    width: 100%;
    height: 120px;
    .wrapper {
        max-width: 1200px;
        margin: auto;
        height: 100%;
        padding: 0px 32px;

        .logo {
            display: inline-block;
            width: 50%;
            height: 100%;

            a {
                text-decoration: none;
            }
            p {
                color: $maroon;
                font-size: 48px;
                font-weight: 100;
                padding: 16px 0px;
                line-height: 0px;
            }
        }
        .links { 
            display: inline-block;
            width: 50%;
            text-align:right;
            .about, .contract {
                width: 50%;
                display: inline-block;
                a {
                    text-align: right !important;
                    text-decoration: none;
                    color: $grey;
                    font-weight: 500;
                }
                a:hover {
                    color: $peach;
                }                
                a:active {
                    color: $maroon;
                }
            }
            h2 {
                color: $light;
                font-size: 24px;
            }
        }
    }
    
}
.button-wrapper {
    width: 100%;
    max-width: 800px;
    display:block;
    float:left;
}
.button {
    background-color: $maroon;
    height: 56;
    min-width: 200px;
    max-width: 400px;
    margin: 32px auto;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
    a {
        text-decoration: none;
        h2 {
        color: $light;
        font-size: 24px;
        font-weight: 500;
        line-height: 56px;
        text-align: center;
      }
  }
}
.button:hover {
    background-color: $maroon1;
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.12))
          drop-shadow(0 3px 3px rgba(0, 0, 0, 0.14))
          drop-shadow(0 1px 8px rgba(0, 0, 0, 0.12))
		drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1));
}
.button:active {
    background-color: $maroon2;
    filter: none;
}

.two-dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12),
    0 3px 1px -2px rgba(0, 0, 0, .2);
}

.left-bar{
    max-width: 800px;
    width: 600px;
    background-color: $peach;
    display: inline-block;
    position: relative;
    margin: 32px 0px 0px 0px;
    height: 50px;
    h2 {
        line-height: 16px;
    }

}

.left-bar:before{
    content:"";
    background-color: $peach;
    position: absolute;
    height: 50px;;
    width: 2000px;
    left: -2000px;
    z-index: -0;
}

.right-bar-wrapper {
    width: 100%;
    height: 50px;
    margin-top: 32px;
}

.right-bar{
    max-width: 800px;
    width: 600px;
    background-color: $peach;
    display: block;
    position: relative;
    height: 50px;
    float: right;

    h2 {
        line-height: 16px;
        padding-left:16px;
    }

}

.right-bar:before{
    content:"";
    background-color: $peach;
    position: absolute;
    height: 50px;;
    width: 2000px;
    right: -2000px;
    z-index: -0;
}


.footer {
    height:128px;
    width: 100%;
    background: url("https://lemotohaiti.com/images/flora_trans.png");
    clear:both;
    display: block;
    font-size: 11px;
    color: $dark;
    .wrapper {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: flow-root;
        .left {
            display: inline-block;
            width: 25%;
            ul {
                list-style-type: none;
                li {
                    padding: 8px;
                    a {
                        line-height: 8px;
                        color: $grey;
                        text-decoration: none;
                        margin: 2px;
        
                    }
                    a:hover {
                        color: $peach;
                    }                
                    a:active {
                        color: $maroon;
                    }
                    p {
                        line-height: 8px;
                        color: $grey;
                        margin: 2px;
                    }
                }
            }
        }
        .middle {
            display: inline-block;
            width: 50%;
            vertical-align: text-bottom;
            p {
                color: $grey;
                text-align: center;
            }
        }
        .right{
            width: 25%;
            display: inline-block;
            ul {
                list-style-type: none;
                padding: 8px 0px; 
                li {
                    color: $grey;
                    padding: 8px;
                    a {
                        line-height: 8px;
                        color: $grey;
                        text-decoration: none;
                        margin: 2px;
                        display:inline;
        
                    }
                    i {
                        margin-right: 8px;
                        display:inline;
                    }
                    a:hover {
                        color: $peach;
                    }                
                    a:active {
                        color: $maroon;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 1200px) {
    .top {
        margin: 0px 24px;
    }

    .left-bar{
        width: 100%;
        h2 {
            line-height: 18px;
        }
    }    
    .right-bar{
        width: 100%;
        h2 {
            line-height: 16px;
            margin-right:24px;
        }
    }

}

@media only screen and (max-width: 800px) {
    .left-bar {
        height: auto;

        h2 {
            margin-left: 24px;
        }
    } 
    .right-bar {
        height: auto;

    }
    .footer {

        .wrapper {
            vertical-align: middle;
            display: flow-root;
            padding: 0px 16px;
          .left, .right {
              width: 50% !important;
              text-align:left;
              ul {
                  padding: 8px 0px;
              }
          }
          .middle {
            display: none;
          }
        }
      }
    .paragraph {
        margin-left: 24px !important;
    }
    .paragraph-right {
        margin-right: 24px !important;
    }
    .header {
      .wrapper {
          padding: 0px 0px;
        .logo {
            height: auto !important;
            vertical-align: text-bottom;
            a { 
                p {
                    padding: 0px;
                }
            }
            
        }
        .links {
            .about, .contract {
                display: block;
                width: 100%;
                margin: 8px 0px;
            }
        }
    }
  }
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
    .button {
        width: 90%;
    }
    .footer {
        height: 197px;
        .wrapper {
            vertical-align: middle;
            display: flow-root;
            padding: 0px 16px;
          .left, .right {
              width: 100% !important;
              text-align:center;
              ul {
                  padding: 0px 0px;
                  li {
                      padding: 6px;
                  }
              }
          }
          .middle {
            display: none;
          }
        }
      }
    .paragraph {
        margin: 0px !important;
        width: auto !important;
        padding: 0px 12px !important;
    }
    .paragraph-right {
        margin: 0px !important;
        width: auto !important;
        padding: 0px 12px !important;
    }
    .left-bar {
      h2 {
         margin-left: 12px; 
      }
    }
    .header {
       height: 180px;
       .wrapper {
           position: absolute;
           width: 100%;
           height: auto;
           .logo {
               display:block;
               width: 100%;
               a {
                   text-align: center;
               }
           }
           .links {
               display: block;
               width: 100%;
               .about, .contract {
                   text-align: center;
               }
               a {
                   text-align: center;
               }
           }
       }
   }
}