html, body {
  width: 100%;
  height: 100%;
  background-color: #EBE8E5;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden; }

body {
  margin: 0px; }

.page {
  width: 100%;
  max-width: 800px;
  margin: 64px auto; }

h1 {
  font-size: 32px;
  font-weight: 200;
  text-align: center; }

h2 {
  color: #EBE8E5;
  font-weight: 500;
  font-size: 22px; }

.video {
  margin: auto;
  text-align: center; }
  .video video {
    max-width: 800px;
    width: 100%;
    height: auto; }

.header {
  background-color: #707682;
  width: 100%;
  height: 168px; }
  .header .wrapper {
    max-width: 1200px;
    margin: auto; }
    .header .wrapper .logo {
      display: inline-block;
      width: 50%; }
      .header .wrapper .logo p {
        color: #C99288;
        font-size: 64px;
        font-weight: 100;
        padding: 16px;
        line-height: 8px; }
    .header .wrapper .links {
      display: inline-block;
      width: 50%; }
      .header .wrapper .links .about, .header .wrapper .links .contract {
        width: 50%;
        display: inline-block; }
        .header .wrapper .links .about a, .header .wrapper .links .contract a {
          text-decoration: none;
          color: #EBE8E5;
          font-weight: 500; }
      .header .wrapper .links h2 {
        color: #EBE8E5;
        font-size: 24px; }

.button {
  background-color: #74484E;
  border-radius: 5px;
  height: 56;
  min-width: 200px;
  max-width: 400px;
  margin: auto; }
  .button h2 {
    color: #EBE8E5;
    font-size: 24px;
    font-weight: 500;
    line-height: 56px;
    text-align: center; }

.left-bar {
  max-width: 800px;
  width: 600px;
  background-color: #C99288;
  display: inline-block;
  position: relative;
  margin: 16px 0px 0px 0px;
  height: 50px; }

.left-bar:before {
  content: "";
  background-color: #C99288;
  position: absolute;
  height: 50px;
  width: 2000px;
  left: -2000px;
  z-index: -0; }

.footer {
  height: 168px;
  width: 100%;
  background-color: #707682; }
  .footer .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto; }
    .footer .wrapper .left {
      display: inline-block;
      width: 25%; }
      .footer .wrapper .left ul {
        list-style-type: none; }
        .footer .wrapper .left ul li {
          padding: 8px; }
          .footer .wrapper .left ul li a {
            line-height: 8px;
            color: #EBE8E5;
            text-decoration: none;
            margin: 2px; }
          .footer .wrapper .left ul li p {
            line-height: 8px;
            color: #EBE8E5;
            margin: 2px; }
    .footer .wrapper .middle {
      display: inline-block;
      width: 50%; }
      .footer .wrapper .middle p {
        color: #EBE8E5;
        text-align: center; }
    .footer .wrapper .right {
      width: 25%;
      display: inline-block; }
      .footer .wrapper .right ul {
        list-style-type: none; }
        .footer .wrapper .right ul li {
          color: #EBE8E5; }
