html, body {
  width: 100%;
  height: 100%;
  background-color: #EBE8E5;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden; }

body {
  margin: 0px;
  height: auto; }

.breadcrumbs a {
  display: inline-block;
  padding: 4px;
  color: #2B2D32; }

.breadcrumbs p {
  display: inline-block;
  padding: 4px;
  color: #2B2D32; }

.page {
  width: 100%;
  max-width: 800px;
  margin: 16px auto;
  min-height: 100%;
  height: auto; }
  .page .wrapper {
    max-width: 800px;
    width: 100%;
    height: auto;
    display: block; }

.top {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.paragraph-wrapper {
  width: 100%;
  max-width: 800;
  position: relative;
  clear: both; }

.paragraph-right {
  width: 600px;
  margin: 16px 0px;
  display: block;
  right: 0;
  float: right; }
  .paragraph-right p {
    line-height: 24px; }

.paragraph {
  width: 600px;
  margin: 32px 0px;
  display: block; }
  .paragraph p {
    line-height: 24px; }

h1 {
  font-size: 32px;
  font-weight: 200;
  text-align: center; }

h2 {
  color: #EBE8E5;
  font-weight: 500;
  font-size: 22px; }

.video {
  margin: auto;
  text-align: center; }
  .video video {
    max-width: 800px;
    width: 100%;
    height: auto; }

img {
  width: 100%;
  display: block;
  max-width: 800px; }

.header {
  background: url("https://lemotohaiti.com/images/flora_trans.png");
  width: 100%;
  height: 120px; }
  .header .wrapper {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 0px 32px; }
    .header .wrapper .logo {
      display: inline-block;
      width: 50%;
      height: 100%; }
      .header .wrapper .logo a {
        text-decoration: none; }
      .header .wrapper .logo p {
        color: #74484E;
        font-size: 48px;
        font-weight: 100;
        padding: 16px 0px;
        line-height: 0px; }
    .header .wrapper .links {
      display: inline-block;
      width: 50%;
      text-align: right; }
      .header .wrapper .links .about, .header .wrapper .links .contract {
        width: 50%;
        display: inline-block; }
        .header .wrapper .links .about a, .header .wrapper .links .contract a {
          text-align: right !important;
          text-decoration: none;
          color: #707682;
          font-weight: 500; }
        .header .wrapper .links .about a:hover, .header .wrapper .links .contract a:hover {
          color: #C99288; }
        .header .wrapper .links .about a:active, .header .wrapper .links .contract a:active {
          color: #74484E; }
      .header .wrapper .links h2 {
        color: #EBE8E5;
        font-size: 24px; }

.button-wrapper {
  width: 100%;
  max-width: 800px;
  display: block;
  float: left; }

.button {
  background-color: #74484E;
  height: 56;
  min-width: 200px;
  max-width: 400px;
  margin: 32px auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1)); }
  .button a {
    text-decoration: none; }
    .button a h2 {
      color: #EBE8E5;
      font-size: 24px;
      font-weight: 500;
      line-height: 56px;
      text-align: center; }

.button:hover {
  background-color: #90676D;
  filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 3px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 8px rgba(0, 0, 0, 0.12)) drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1)); }

.button:active {
  background-color: #5C2E35;
  filter: none; }

.two-dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.left-bar {
  max-width: 800px;
  width: 600px;
  background-color: #C99288;
  display: inline-block;
  position: relative;
  margin: 32px 0px 0px 0px;
  height: 50px; }
  .left-bar h2 {
    line-height: 16px; }

.left-bar:before {
  content: "";
  background-color: #C99288;
  position: absolute;
  height: 50px;
  width: 2000px;
  left: -2000px;
  z-index: -0; }

.right-bar-wrapper {
  width: 100%;
  height: 50px;
  margin-top: 32px; }

.right-bar {
  max-width: 800px;
  width: 600px;
  background-color: #C99288;
  display: block;
  position: relative;
  height: 50px;
  float: right; }
  .right-bar h2 {
    line-height: 16px;
    padding-left: 16px; }

.right-bar:before {
  content: "";
  background-color: #C99288;
  position: absolute;
  height: 50px;
  width: 2000px;
  right: -2000px;
  z-index: -0; }

.footer {
  height: 128px;
  width: 100%;
  background: url("https://lemotohaiti.com/images/flora_trans.png");
  clear: both;
  display: block;
  font-size: 11px;
  color: #2B2D32; }
  .footer .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flow-root; }
    .footer .wrapper .left {
      display: inline-block;
      width: 25%; }
      .footer .wrapper .left ul {
        list-style-type: none; }
        .footer .wrapper .left ul li {
          padding: 8px; }
          .footer .wrapper .left ul li a {
            line-height: 8px;
            color: #707682;
            text-decoration: none;
            margin: 2px; }
          .footer .wrapper .left ul li a:hover {
            color: #C99288; }
          .footer .wrapper .left ul li a:active {
            color: #74484E; }
          .footer .wrapper .left ul li p {
            line-height: 8px;
            color: #707682;
            margin: 2px; }
    .footer .wrapper .middle {
      display: inline-block;
      width: 50%;
      vertical-align: text-bottom; }
      .footer .wrapper .middle p {
        color: #707682;
        text-align: center; }
    .footer .wrapper .right {
      width: 25%;
      display: inline-block; }
      .footer .wrapper .right ul {
        list-style-type: none;
        padding: 8px 0px; }
        .footer .wrapper .right ul li {
          color: #707682;
          padding: 8px; }
          .footer .wrapper .right ul li a {
            line-height: 8px;
            color: #707682;
            text-decoration: none;
            margin: 2px;
            display: inline; }
          .footer .wrapper .right ul li i {
            margin-right: 8px;
            display: inline; }
          .footer .wrapper .right ul li a:hover {
            color: #C99288; }
          .footer .wrapper .right ul li a:active {
            color: #74484E; }

@media only screen and (max-width: 1200px) {
  .top {
    margin: 0px 24px; }
  .left-bar {
    width: 100%; }
    .left-bar h2 {
      line-height: 18px; }
  .right-bar {
    width: 100%; }
    .right-bar h2 {
      line-height: 16px;
      margin-right: 24px; } }

@media only screen and (max-width: 800px) {
  .left-bar {
    height: auto; }
    .left-bar h2 {
      margin-left: 24px; }
  .right-bar {
    height: auto; }
  .footer .wrapper {
    vertical-align: middle;
    display: flow-root;
    padding: 0px 16px; }
    .footer .wrapper .left, .footer .wrapper .right {
      width: 50% !important;
      text-align: left; }
      .footer .wrapper .left ul, .footer .wrapper .right ul {
        padding: 8px 0px; }
    .footer .wrapper .middle {
      display: none; }
  .paragraph {
    margin-left: 24px !important; }
  .paragraph-right {
    margin-right: 24px !important; }
  .header .wrapper {
    padding: 0px 0px; }
    .header .wrapper .logo {
      height: auto !important;
      vertical-align: text-bottom; }
      .header .wrapper .logo a p {
        padding: 0px; }
    .header .wrapper .links .about, .header .wrapper .links .contract {
      display: block;
      width: 100%;
      margin: 8px 0px; } }

@media only screen and (min-width: 1px) and (max-width: 600px) {
  .button {
    width: 90%; }
  .footer {
    height: 197px; }
    .footer .wrapper {
      vertical-align: middle;
      display: flow-root;
      padding: 0px 16px; }
      .footer .wrapper .left, .footer .wrapper .right {
        width: 100% !important;
        text-align: center; }
        .footer .wrapper .left ul, .footer .wrapper .right ul {
          padding: 0px 0px; }
          .footer .wrapper .left ul li, .footer .wrapper .right ul li {
            padding: 6px; }
      .footer .wrapper .middle {
        display: none; }
  .paragraph {
    margin: 0px !important;
    width: auto !important;
    padding: 0px 12px !important; }
  .paragraph-right {
    margin: 0px !important;
    width: auto !important;
    padding: 0px 12px !important; }
  .left-bar h2 {
    margin-left: 12px; }
  .header {
    height: 180px; }
    .header .wrapper {
      position: absolute;
      width: 100%;
      height: auto; }
      .header .wrapper .logo {
        display: block;
        width: 100%; }
        .header .wrapper .logo a {
          text-align: center; }
      .header .wrapper .links {
        display: block;
        width: 100%; }
        .header .wrapper .links .about, .header .wrapper .links .contract {
          text-align: center; }
        .header .wrapper .links a {
          text-align: center; } }
