//- georgetons-story.pug

extends layout.pug

block contents  
  .top
    .breadcrumbs
      span
        a(href="/") Home
        p >
        a(href="/Georgetons Story") Georgeton's Story

  .page
    h1 About Georgeton Charles
    img(src="https://lemotohaiti.com/images/le-moto-1.jpg") 
  
    .left-bar
      h2 Volunteering with Heart of Heart

    .paragraph

      p Georgeton Charles is a graduate of Wilmington University of 
        | Delaware with a Master of Business: Organizational Leadership degree. 
        | Born and raised in Leogane, Haiti, he came to the United States after 
        | serving as an interpreter for Heart to Heart International, a 
        | volunteer team of medical professionals who assisted victims of the 
        | 2010 earthquake in Haiti. Two of the nurses whom he assisted 
        | offered Georgeton an opportunity to come to the US to pursue a college 
        | education which he began at Cumberland County College. 

    img(src="https://lemotohaiti.com/images/le-moto-11.jpg") 
      
    .right-bar-wrapper  
      .right-bar 
        h2 Supporting students in Haiti
    
    .paragraph-right
      P Georgeton’s passion for education has led him to establish a locally-based   
        | nonprofit organization to help children in Haiti afford tuition, books, and  
        | uniforms required for public education. The organization “Another Haiti”  
        | conducts fundraising locally and each August, the team of local volunteers  
        | whom Georgeton has recruited travels to Leogane to work with the students  
        | and to conduct an art/essay contest in which around 200 students compete  
        | for scholarships
    .img 
    img(src="https://lemotohaiti.com/images/le-moto-16.jpg") 

    .left-bar
      h2 Valuable employer 

    .paragraph
      P Georgeton himself experienced the hardship of having to sit out a year 
        | of high school so that his older brother could attend. He used that year 
        | as an opportunity to apprentice as a tailor and learned a very valuable 
        | trade. The following year he went back to school and earned his diploma. 
        | He has since founded, built, and after the 2010 earthquake in Haiti, 
        | rebuilt a successful tailoring business in his home town that employs 
        | five people.
    
    img(src="https://lemotohaiti.com/images/le-moto-19.jpg") 
    
    .right-bar-wrapper
      .right-bar
        h2 Continuing to support Haiti 

    .paragraph-right
      P Georgeton believes that Haiti won’t be going anywhere without being
        | self-sustainable. Haiti, his home country depends on the mercy of other
        | countries since almost the beginning of times. He created “Le Moto” a
        | small leasing motorcycle to help tackle this issues.  “Le Moto” is
        | currently employs 27 people and ready to grow.

      P Helping his people in Haiti, however, will always be his highest calling in life.

    .button-wrapper
      .button(class="two-dp")
        a(href="/investment-contract") 
          h2 Invest Today! 