//- georgetons-story.pug

extends layout.pug

block contents 
  .breadcrumbs
    span
      p a(href="/") Home
      p a(href="/Georgetons Story")

  h2 About Georgeton Charles
  img(src="" titl="Georgeton of Le Moto Riding a Motorcycle") 
 
  .left-bar
    h3 Volunteering with Heart of Heart International

  p Georgeton Charles is a graduate of Wilmington University of
    | Delaware with a Master of Business: Organizational Leadership degree.
    | Born and raised in Leogane, Haiti, he came to the United States after
    | serving as an interpreter for Heart to Heart International, a
    | volunteer team of medical professionals who assisted victims of the
    | 2010 earthquake in Haiti. Two of the nurses whom he assisted
    | offered Georgeton an opportunity to come to the US to pursue a college
    | education which he began at Cumberland County College.

  img(src="" title="Le Moto Auto Parts")
    
  .right-bar 
    h3 Founding Another Haiti to help Haitian students succeed
  
  P Georgeton’s passion for education has led him to establish a locally-based
  | nonprofit organization to help children in Haiti afford tuition, books, and
  | uniforms required for public education. The organization “Another Haiti”
  | conducts fundraising locally and each August, the team of local volunteers
  | whom Georgeton has recruited travels to Leogane to work with the students
  | and to conduct an art/essay contest in which around 200 students compete
  | for scholarships

  img(src="" title="Another photo")

  .left-bar
    h3 Running a tailor shop 

  P Georgeton himself experienced the hardship of having to sit out a year
    | of high school so that his older brother could attend. He used that year
    | as an opportunity to apprentice as a tailor and learned a very valuable
    | trade. The following year he went back to school and earned his diploma.
    | He has since founded, built, and after the 2010 earthquake in Haiti,
    | rebuilt a successful tailoring business in his home town that employs
    | five people.
  
  img(src="" title="Another photo")

  .right-bar
    h3 Continueing to support Haiti 

    
  P Georgeton believes that Haiti won’t be going anywhere without being
  | self-sustainable. Haiti, his home country depends on the mercy of other
  | countries since almost the beginning of times. He created “Le Moto” a
  | small leasing motorcycle to help tackle this issues.  “Le Moto” is
  | currently employs 27 people and ready to grow.

  P Helping his people in Haiti, however, will always be his highest calling in life.