//- investment-contract.pug

extends layout.pug

block contents  
  
  .top
    .breadcrumbs
      span
        a(href="/") Home
        p > 
        a(href="/Investment-contract") Investment Contract 

  .page
    h1 Investing Contract 
    
    h2(style="text-align: center; color: #74484E; ")
      i More Details Coming Soon! 
    p.center We've still got some finishing touches left to go!  
    P.center In the meantime, if you want to get in touch about this project, 
      a(href="mailto: julia@lejitproductions.com") send us an email
      |  and we will get back just as soon as we can. 
    p.center We look forward to hearing from you!
  
    