//- investment-contract.pug

extends layout.pug

block contents  
  
  .top
    .breadcrumbs
      span
        a(href="/") Home
        p > 
        a(href="/Investment-contract") Investment Contract 

  .page
    h1 Investing Contract 
    
    p Starts here... 
    
    .print
      span
        i
        p print
    .button
      a(href="/investment-contract")
        h2 Invest Today