//- investment-contract.pug

extends layout.pug

block contents 
  
  .breadcrumbs
    span
      a(href="/") Home
      a(href="/Investment-contract") Investment Contract 

  h2 Investing Contract 
  
  p Starts here... 
  
  .print
    span
      i
      p print
  .button
    h3 Invest Today