//- layout.pug

html(lang='en')  
html  
  head 
    title Le Moto Haiti
    meta(charset='utf=9' lang='en')
    meta(name='description' content='Le Moto Haiti: Microfinancing Haiti')
    meta(name='viewport' content='width=device-width', 'initial-scale=1.0')
    link(rel='stylesheet' href='/css/styles.css') 
    link(rel='stylesheet' 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,600" rel="stylesheet")

  body
    .header.two-dp 
      .wrapper
        .logo
          a(href="/") 
            p Le Moto Haiti 
        .links  
          .about 
            a(href="/georgetons-story") Georgetons Story
          .contract
            a(href="/investment-contract") Investment Contract

    block contents 

    .footer
      .wrapper 
        .left
          ul 
            li 
              a(href="/terms-of-use") Terms of Use
            li
              a(href="/Privacy-Policy") Privacy Policy
            li
              p Copyright LeMOTO  2018
            
        .middle
          p
            |
            i The current foreign aid system doesn't work.
          p
            |
            i Let's try something new, invest in the future of Haiti.

        .right
          ul 
            li 
              span
                i.fa.fa-envelope
                a(href="mailto:lemotohaiti@gmail.com") email
            li
              span
                i.fa.fa-facebook
                a(href="https://www.facebook.com/Le-Moto-206333300098609" target="_blank" ) Facebook
            li 
              span
                i.fa.fa-instagram
                a(target="_blank" href="https://www.instagram.com/lemotohaiti/") Instagram
              
